*{
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}

header{
  width: 100%;
  height: 70px;
  margin: 0 auto;
  background-color: #FE7E00;
  position: relative;
}

.logo{
  position: absolute;
}

.logo img{
  float: left;
  margin: 0;
  padding-top: 10px;
  padding-left: 80px;
  height: 45px;
  width: 45px;
}

h1{
  position: absolute;
  margin: 0;
  padding-left: 125px;
  padding-top: 6px;
  color: #fff;
}

h1 .bold{
  font-weight: bolder;
}

/* NAVIGATION */
.nav{
  float: right;
  height: 70%;

}

ul{
  list-style: none;
}

li{
  float: left;
  padding: 5px;
  margin: 5px;
  margin-right: 40px;
  font-size: 14px;
}

li a{
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  display: block;
}

/* MIDDLE */

.search{
  float: right;
  position: relative;
}

input{
  margin-top: 10px;
  height: 30px;
  width: 200px;
  background-color: #F0F0F0;
  font-size: 17px;
}

.fa-search{
  position: relative;
  float: right;
  padding-right: 80px;
  margin: 0;
  color: #D7D7D7;
}

.wrapper{
  width: 100%;
  height: 600px;
  margin: 0 auto;
}

.leftcolumn{
  width: 40%;
  display: block;
}
img{
  float: left;
  width: 460px;
  height: 400px;
  padding-left: 30px;
  padding-top: 60px
}

.rightcolumn{
  width: 50%;
  float: right;
  margin: 0;
  padding: 0;
}

p{
  font-size: 41px;
  margin: 100px 10px 20px 10px;
  padding-right: 5px;
  text-align: left;
  color: #FE7E00;
}

p .orange-bold{
  font-weight: bolder;
}

p .web{
  color: #78CDCA;
}

p .app{
  color: #78CDCA;
}

.quote{
  width: 280px;
  height: 40px;
  margin: 10px;
  color: #fff;
  background-color: #FE7E00;
  font-size: 20px;
  border-style: none;
  border-radius: 2px;
}

.case-studies{
  width: 280px;
  height: 40px;
  color: #fff;
  background-color: #78CDCA;
  font-size: 20px;
  border-style: none;
  border-radius: 2px;
}


/* FOOTER */
footer{
  margin: 0;
  width: auto;
  height: 70px;
  background-color: #78CDCA;
}
